<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353814086086-yourclientid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps. 353814086086-reversed</string>
	<key>API_KEY</key>
	<string>AIzaSyCxFSfaKscZ-api_key-TiRrWk</string>
	<key>GCM_SENDER_ID</key>
	<string>353814086086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.productname</string>
	<key>PROJECT_ID</key>
	<string>g-and-t</string>
	<key>STORAGE_BUCKET</key>
	<string>g-and-t.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1: 353814086086:ios:788Ff2e60139dbF5</string>
	<key>DATABASE_URL</key>
	<string>https://g-and-t.firebaseio.com</string>
</dict>
</plist>
